<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">My Django Blog 2.0</a>
        </div>
</nav>
<div class='d-flex justify-content-end '>
            {% if request.user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="{% url 'post_create' %}">Добавить статью</a></li>
            <li><a class="dropdown-item" href="{% url 'profile_detail' request.user.profile.slug %}">Мой профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
          </ul>
        </div>
        {% else %}
            <ul class="nav ">
              <li><a href="{% url 'register' %}" class="nav-link px-2 link-secondary">Регистрация</a></li>
              <li><a href="{% url 'login' %}" class="nav-link px-2 link-dark">Вход</a></li>
            </ul>
        {% endif %}
</div>